body {
    background-color: blue;
    color: white;
}

#maindiv {
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(141, 204, 205, 0.6);
    box-shadow: 20px 20px 150px black, inset 0px 50px 100px lightblue, inset 0px 35px 10px white;
}